@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Markazi+Text:wght@400;700&family=Vazirmatn:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
